@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&family=Source+Sans+Pro&display:wght@500;600=swap");

body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0 0 10rem;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

/*
** Utilidades
*/
.border-mark {
  border: 1px solid red;
}
.Section {
  padding: 4.5rem 0;
}
.Section--medium {
  padding: 2.25rem 0;
}
.Container {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
}
.Row {
  display: flex;
  width: 100%;
}
.Article {
  display: flex;
  flex-direction: column;
}
.Article--separator-bottom {
  margin: 0 0 2rem;
}
.Article--half {
  width: calc(50% - 0.75rem);
}
.ArticleTitle {
  color: #2b2d57;
}
.ArticleImage,
.ArticleTitle {
  display: block;
  margin: 0 0 1.5rem;
}
.Article--small .ArticleImage,
.Article--small .ArticleTitle {
  margin: 0 0 1.125rem;
}
.ArticleImage img {
  max-width: 100%;
  border-radius: 1rem;
}
.ArticleInformation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ArticleTitle h2 {
  font-size: 1.75rem;
  line-height: 2.125rem;
}
.ArticleTitle h4 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.ArticleContent {
}
.ArticleSummary {
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin: 0 0 1.5rem;
}
.Article--small .ArticleSummary {
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0 0 1.125rem;
}
.ArticleLink {
  display: inline-block;
  padding: 0 0 0.2rem;
  font-size: 1rem;
  line-height: 1rem;
  color: #8447fb;
  border-bottom: 1px solid #8447fb;
  transition: all 0.12s ease-in-out;
}
.ArticleLink:hover {
  color: #5e31b7;
  font-weight: 700;
}
.Button {
  display: inline-block;
  border-radius: 0.5rem;
  font-weight: 600;
  letter-spacing: 1.125px;
  transition: all 0.25s ease-in-out;
}
.Button:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.15);
}
.Button:active {
  transform: translateY(0);
  box-shadow: 0 0 0 0 rgb(0, 0, 0);
}
.Button--tiny {
  padding: 0.65rem 1.625rem;
  font-size: 0.75rem;
  line-height: 0.75rem;
}
.Button--small {
  padding: 0.875rem 1.75rem;
  font-size: 1rem;
  line-height: 1rem;
}
.Button--big {
  padding: 1.125rem 2rem;
  font-size: 1.125rem;
  line-height: 1.125rem;
}
.Button--purple {
  color: #ffffff;
  background-color: #8447fb;
}
.Button--purple:hover {
  background-color: #5e31b7;
}
.Button--purple:active {
  background-color: #8447fb;
}
.Button--outline--purple {
  border: 2px solid #8447fb;
  color: #8447fb;
}
.Button--outline--purple:hover {
  background-color: #8447fb;
  color: #ffffff;
}
/*
** Estilos Header
*/
.Header {
  background-color: #ffffff;
  padding: 1.5rem 0;
}
.HeaderContent {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.HeaderLogo {
  display: block;
  width: 10rem;
}
.HeaderLogo img {
  max-width: 100%;
}
.HeaderMenu {
  list-style: none;
  display: flex;
  align-items: center;
}
.HeaderMenuItem {
  margin: 0 0 0 2.25rem;
}
.HeaderMenuItem:first-child {
  margin: 0;
}

.HeaderMenuLink {
  font-size: 1rem;
  line-height: 1rem;
  color: #2b2d57;
  font-weight: 600;
  /* transition: color 0.25s linear; */
  transition: color 0.25s ease-in-out;
}

.HeaderMenuLink:hover {
  color: #8447fb;
}

.HeaderMenuLink--icon img {
  width: 1.125rem;
  transition: all 0.25s ease-in-out;
}
.HeaderMenuLink--icon img:hover {
  transform: scale(1.1);
}

/*
** Estilos Banner Principal
*/
.Section--banner-principal {
  min-height: 36rem;
  background-image: url("../img/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  position: relative;
}
.SectionOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-color: #000000; */
  /* background-color: rgba(255, 255, 255, 0.7); */
  background-image: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 15%,
    rgba(255, 255, 255, 0) 80%
  );
  top: 0;
  left: 0;
  z-index: 1;
}
.Section--banner-principal .Container {
  z-index: 2;
}

.BannerContent {
  width: 100%;
  max-width: 40rem;
}
.BannerTitle {
  font-size: 3rem;
  line-height: 3.75rem;
  font-weight: 600;
  color: #2b2d57;
  margin: 0 0 1rem;
}
.BannerDescription {
  font-size: 1.25rem;
  line-height: 2rem;
  margin: 0 0 1.5rem;
  color: #2b2d57;
}

/*
** Estilos Seccion Secundaria
*/
.Section--second {
}
.Section--second .Row {
  justify-content: space-between;
}
.Row--secound-section-content {
  /* width: 75%; */
  /* padding: 0 1rem 0 0; */
  width: calc(75% - 1rem);
  display: flex;
  justify-content: space-between;
}
.Row--secound-section-sidebar {
  width: calc(25% - 1rem);
  /* padding: 0 0 0 1rem; */
}
